[submodule "contracts/tenk"]
	path = contracts/tenk
	url = git@github.com:TENK-DAO/tenk.git
[submodule "contracts/status-message"]
	path = contracts/status-message
	url = git@github.com:near-examples/rust-status-message.git
